* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'KoHo', sans-serif;
}

.anto {
  margin-left: auto; 
  min-height:  100vh;
  width: 100%;
  background-size: cover;
  background-position: left;
  position: relative;
  padding: 2% 5%;

}
html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
}

.grid-container > * {
  box-shadow: -1px 1px 7px 0px rgba(184, 7, 154, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}


.header {
  grid-area: header;
  background-color: #9f12ca7c;
}

.navbar {
  grid-area: navbar;
  background-color: #cfafd68c;
}

.sidebar {
  grid-area: sidebar;
  background-color: #23053f67;
}

.main {
  grid-area: main;
  background-color: #f5f5f5;
}
.location {
    width: 80%;
    margin: auto;
    padding: 80px 0;

}

.location iframe {
    width: 100%;
}

.footer {
  grid-area: footer;
  background-color: #480e8a63;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "header"  100px
    "navbar"  50px
    "main"    auto
    "sidebar" 100px
    "footer"  100px;
}

@media (min-width: 600px) {
  .grid-container {
    /* grid-template-columns: 200px auto;
    grid-template-rows: 100px 50px auto 100px;
    grid-template-areas: 
    "header  header"
    "navbar  navbar"
    "sidebar main"
    "footer  footer"; */

    grid-template:
      "header  header" 100px
       "header  header" 100px
      "navbar  navbar" 50px
      "sidebar main"   auto
      "footer  footer" 100px /
      200px    auto;
  }
}

@media (min-width: 900px) {
  .grid-container {
    grid-template:
      "header  header header"  100px
      "navbar  main   sidebar" auto
      "footer  footer footer"  100px /
      200px    auto   200px;
  }
}